---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Feature from '../components/Feature.astro';
import Footer from '../components/Footer.astro';
import Contact from '../components/Contact.astro';
import Certificates from '../components/Certificates.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	<Header></Header>
	<About></About>
	<Feature></Feature>
	<Certificates></Certificates>
	<Contact></Contact>
	<Footer></Footer>
	</main>
</Layout>


