<div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
           
            <p class="mt-2 text-3xl font-bold tracking-tight text-green-700  sm:text-4xl">VSENERGY s.r.o</p>
            <p class="mt-6 text-xl leading-8 text-gray-600 ">Your trusted partner in the wholesale electricity resale market. We are a team of professionals with deep understanding of the energy market, offering reliable and advantageous solutions for our clients. Our continuous commitment to quality service and transparency makes us a trustworthy company, ready for long-term collaboration.</p>
          
          </div>
        </div>
        <img src="./trade.jpeg" alt="Product screenshot" class="w-[50rem]  rounded-xl sm:w-[57rem] md:-ml-4 lg:-ml-0" width="2432" height="1442">
      </div>
    </div>
    <div class="flex justify-center">
      <img src="./homes.svg" alt="Product screenshot" class="w-[100%] rounded-xl sm:w-[57rem] md:-ml-4 lg:-ml-0" >
    </div>
   
  </div>

  